@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative z-1 bg-whiten font-satoshi text-base font-normal text-body;
    }
}

@layer components {
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
    @apply opacity-100;
}

.tableCheckbox:checked ~ div {
    @apply border-primary bg-primary;
}

.taskCheckbox:checked ~ .box span {
    @apply opacity-100;
}

.taskCheckbox:checked ~ p {
    @apply line-through;
}

.taskCheckbox:checked ~ .box {
    @apply border-primary bg-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
    background: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
    @apply appearance-none;
}

.custom-input-date::-webkit-calendar-picker-indicator {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

[x-cloak] {
    display: none !important;
}

/*custom styles*/

.f-logo {
    width: 100%;
}
.f-5 {
    padding:10rem !important;
}
.bg-color-custom {
    background: #FFF2D7;
}
.bg-color-custom-top {
    background: #f8f0df;
}
.text-custom {
    color: #653D27;
    background: #FFD16C;
    border-color: #FFD16C;
}
.dark-text {
    color: #653D27;
}
.border-strokes {
    border-color: #343434;
}
.bg-graydark {
    background-color: rgb(255 0 0);
    color: #fff !important;
}
.text-bodydark1 {
    color: #653D27;
}
.hover\:bg-graydark:hover {
    background-color: rgb(255 0 0) !important;
    color: #fff;
}
.hover\:bg-indigo-500:hover{
    background: #ff0000 !important;
    color: #fff;
}

.dark-text-active {
    color: #ff0000;
}
.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: #6f9c5d;
}
.list-text {
    color: #653D27;
    background: #ebebeb;
}
.text-custom:hover {
    color: #ffffff;
    background: #ff0000;
    border-color: #ff0000;
}
.fill-current {
    fill: #653d27
}
.red-color {
    color: #ffffff;
    font-weight: 800;
    background: red;
    padding: 5px;
    border-radius: 50%;
    top: -12px;
    right: -6px;
}
.red-color:hover {
    background:#fff2d7;
} 
li::marker {
    content: ''; /* Removes the marker */
}
.bg-graydark svg {
    fill: #fff !important;
}

.sonner-toast-success {
    background-color: #28a745 !important;  /* Change this to your desired color */
    color: white;   
    top: 54px;
    padding: 6px;             /* Text color */
}
.sonner-toast-error {
    background-color: #ff0000 !important;
    color: white;
    top: 54px;
    padding: 6px;
}
h2#swal2-title {
    font-size: 16px;
}
div#swal2-html-container {
    font-size: 16px;
}
button.swal2-confirm.swal2-styled.swal2-default-outline {
    background: #fff2d7 !important;
    color: #653D27;
}
button.swal2-cancel.swal2-styled.swal2-default-outline {
    background: #ff0000 !important;
}

.dark-texts {
    color: #653D27;
}
.dark-texts:hover {
    color: #ff0000;
}

.cms-heading {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Noto Sans';
    text-align: left;
    text-transform: capitalize;
    color: #000;
    line-height: 35px;
}
.cms-description {
    font-family: 'Noto Sans';
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
    color: #653D27;
    line-height: 35px;
}

.cms-heading  h2{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Sans';
    text-align: left;
    text-transform: capitalize;
    color: #000;
    line-height: 35px;
}
.cms-heading  p{
    font-family: 'Noto Sans';
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
    color: #653D27;
    line-height: 35px;
    margin-top: 1em;

}
.cms-heading  p br{
    display: none;
}

.bg-arrow {
    background: #f8f0df;
}

th.py-3.px-6.dark-text {
    font-size: 12px;
}

.focus\:border-primary:focus {
    --tw-border-opacity: 1;
    border-color: rgb(51 51 51) !important;
}

.member label {
    text-transform: capitalize;
}

/* Custom class for SweetAlert2 */
.confirm-color{
    background-color: rgba(16, 185, 129, .08) !important;
    color: #10b981 !important; 
}
.cancel-color {
    background-color: rgba(251, 84, 84, .08) !important;
    color: #fb5454 !important;
}
.confirm-color-succes {
    background-color: rgba(16, 185, 129, .08) !important;
    color: #10b981 !important;
}
.swal2-styled.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(236 250 245) !important;
}

/*admin cms home page slider*/
.home-banner-image-info{
    position: relative;
    height: 420px;
  width: 70%;
}
.home-banner-image-info img{
       width: 100%;
}
.home-banner-full{
    justify-content: space-between;
}
.slider-upload-info{
    width: 100%;
    max-width: 26%
}


/*horoscope view button*/
.ftext-custom {
    color: #653D27;
    background: #FFD16C;
    border: 1px solid #FFD16C;
    font-weight: 800;
    font-family: 'Noto Sans';
}

.ftext-custom:hover {
    color: #ffd16c;
    background: #af2c2c;
    border: 1px solid #ffd16c;
}

.dark-text h3 {
    font-weight: 700;
}

.cms-heading ul li {
    font-family: 'Noto Sans';
    font-weight: 300;
    text-transform: capitalize;
    text-align: left;
    font-size: 15px;
    color: #653D27;
    line-height: 25px;
    margin-top: 1em;
}
.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker {
    z-index: 9999 !important;
    /* ✅ Ensures it's on top */
}

.react-datepicker__month-container {
    position: relative;
    background-color: white;
    border-radius: 5px;
}

.react-datepicker__header {
    background-color: #fff;
    /* ✅ Matches the design */
    border-bottom: 1px solid #ddd;
}


/*language based css updated */
.lang-ta h3, .lang-ta h4  {
    font-size: 14px;
    font-weight: 700;
}
 .lang-ta .cms-heading  {
    font-size: 20px;
}
.lang-ta input::placeholder, .lang-ta  select, textarea{
    font-size: 12px;
}
.lang-ta  label {
    font-size: 12px;
    line-height: 1.5;
}
.lang-ta input {
    font-size: 16px;
}
.lang-ta td, .lang-ta p, .lang-ta .cms-description, .lang-ta .cms-description p, .lang-ta .cms-heading ul li {
    font-size: 12px;

}


/* Tamil Font size */
.lang-ta ul li a {
    font-size: 14px;
}

.lang-ta .forgot-password-section button {
    font-size: 12px;
}

.text-graydark {
color: red;
}
